# Setting values to variables

The value types that we will be using in this course are mainly int, float, and string values.

- An int value is an integer (whole numbers)
- A float value is a decimal number
- A string value is alpha-numeric characters that cannot be mathematically computed; can use single or double quotes
- The pound/hashtag (#) sign denotes comments, which is not read by python as code

In [10]:
x = 6 #int
y = 7.23 #float
z = 'hello world' #string

In [3]:
#use the "print" function to see the output of the values stored in the variables
print(x)
print(y)
print(z)

5
7.23
hello world

In [4]:
#Jupyter notebooks can display the output of a variable's value by typing the variable name but only will output the last "called on" variable

y #this will not display
z #this will display b/c it's the last

'hello world'

In [5]:
#the "type" function will tell you what data type a variable is
type(z)

str

In [8]:
#variables can be added together
a = x + y
print(a)

#also works for strings
r = "hello"
s = "world"
print(r + " " +s)

12.23
hello world

# If Statement

- Checks if a condition is true
- Python will auto-indent starting from the first line after the colon within the "if" statement
- Indentation signifies the code that belongs to the "if" statement

* Note: != is "not equal to"

In [11]:
#check to see if something is true
if x == 5: #can also use other tests of equality >, <, !=
    print("It is five.")
else:
    print("It is not five.")

It is not five.

# Lists and For loops

- A list is a container for multiple values
- Python position counting (called "index") starts from 0
- A for loop goes through each item within a list and executes the code that should be done for each item
- Python will auto-indent starting from the first line after the colon within the "for" loop

In [12]:
#this is a list with 3 items; the index count is 0, 1, 2
colors = ['red', 'yellow', 'blue']

In [24]:
#iterating through a list
for color in colors:
    #print(color)
#for word in color:#redundant; loops again and prints value for each iteration
    #print(len(color))
    print(color, len(color))

red 3
yellow 6
blue 4

- The len function returns the length (number of) items

In [14]:
print(len(colors))
print(len(z)) #also works on counting characters (including spaces and punctuation) in a string

3
11

- To "slice" a list is to look at particular specified values
- The first number is the starting index of the value to get and the 2nd number after the colon is the index to stop at (not inclusive)

In [15]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
days[2:6] #2nd number is up to but not including that index number

['Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [28]:
days[:]

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [43]:
days[-4:]

['Wednesday', 'Thursday', 'Friday', 'Saturday']

# Def function

- Used to write code to create your own function
- Python will auto-indent starting from the first line after the colon within the "def" function
- The blue letters are the name of your function (no spaces)
- Inside the parentheses are the placeholder variables for the arguments (what will be passed into the function to compute on)
- The return function sends back the value after the function is finished
- The def function does not produce output, but stores the function in-memory; the function must be called

In [29]:
#making a function
def addNum(num1, num2):
    return num1 + num2

In [30]:
#using the function
addNum(x, y)

13.23

In [31]:
#using the function concatenate the strings
addNum(r, s)

'helloworld'

In [33]:
#using the function concatenate the strings
print(addNum(r, s))

helloworld

In [38]:
# a function that concatenates two lists
def addList(list1,list2):
    return(list1 + list2)

In [37]:
combnList = addList(colors,days)
print(combnList)

['red', 'yellow', 'blue', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [46]:
combnList[::3]

['red', 'Sunday', 'Wednesday', 'Saturday']

In [51]:
import pandas as pd
# data frames from dictionary
color = ["Red","Yellow","Green","Blue","Orange","Black","Magenta"]
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
list_label = ["color","days"]
list_col = [color,days]
zipped = list(zip(list_label,list_col))
data_dict = dict(zipped)
df = pd.DataFrame(data_dict)
df

     color       days
0      Red     Sunday
1   Yellow     Monday
2    Green    Tuesday
3     Blue  Wednesday
4   Orange   Thursday
5    Black     Friday
6  Magenta   Saturday